[submodule "llama/codellama"]
	path = llama/codellama
	url = https://github.com/facebookresearch/codellama
[submodule "llm/llama.cpp"]
	path = llm/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
